APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:MQ5unoNET3dPYkdLcelAjDfWj8slKuLVLAty0a4lYpQ=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=test_db
DB_USERNAME=homestead
DB_PASSWORD=secret


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_FROM=

L5_SWAGGER_GENERATE_ALWAYS=true

TEST_MAIL_FROM_NAME=
TEST_EMAIL=